img:hover{
    transform: scale(1.1);
}

.spacing{
    padding-top: 200px;
}
.App .spacing a{
    text-decoration: none;
}

.link-color{
    color: white;
}

div{
font-size: 15px;
}
/*div{*/
/*    overflow: hidden!important;*/
/*}*/
a.github svg:hover{
transform: scale(1.1);
}