ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(0,219,255);
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.company-name{
    color: rgb(0,219,255);
}

/*.test {*/
/*    color:red;*/
/*    background-color: pink;*/
/*}*/
.MuiPaper-root div.MuiCollapse-wrapperInner, #work .MuiStepLabel-label  {
    color: #f8f8ff;
}
#work .MuiPaper-root {
    background-color: inherit;
}
#work .MuiStepLabel-root {
    width:100%;
}
#work .MuiStepContent-root {
    margin-left: 20px;
}
#work button:focus{
    outline: none;
}