.footer{
    /*color: #8892B0;*/
    font-size: 12px;
    font-family: Calibri;
    /*color: #4b4c4d;*/
}
.github {
    color: white;
}

.App a:hover {
    color: rgb(0,219,255);
    text-decoration: none;
}
.foot{
    align-items: center;
    text-align: center;
}

.footer-spacing{
    margin-top: 200px;
    padding-bottom: 20px;
}