.App .project-content{
    text-align: left;
    justify-content: left;
}
#projects a.active {
    background-color: rgb(0,219,255);
    color: black;
    /*color*/
    font-size: large;
}

.project-img{
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .project-img {
        height: 200px;
    }
}

@media (min-width: 768px) {
    .project-img {
        height: 250px;
    }

}

@media (min-width: 992px) {
    .project-img {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .project-img {
        height: 250px;
    }
}
#projects .MuiTabs-indicator{
    background-color: rgb(0,219,255)!important;
}
#projects button:focus {
    outline: none;
}
#projects .MuiTab-textColorInherit.Mui-selected {
    color: rgb(0,219,255);
}